{% extends "jobs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


{% for emp in emps %}
<article class="media content-section">
    <div class="media">

        <div class="media-body">
            <a class="account-heading" href="#">Name : {{ emp.emp_name }}</a>
            <p class="text-secondary">Username : {{ emp.emp_username }}</p>
            <p class="text-secondary">Email : {{ emp.emp_email }}</p>
            <p class="text-secondary">Address : {{ emp.emp_address }}</p>
            <p class="text-secondary">Contact Info : {{ emp.emp_mobile}}</p>
        </div>
    </div>
</article>
{% endfor %}
{% endblock content %}
